NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GEMINI_API_KEY=

# apiKey: "AIzaSyDixHvIGZpmGPCKJbbHfGLWztD3KpwQEvA",
# authDomain: "prepd-312.firebaseapp.com",
# projectId: "prepd-312",
# storageBucket: "prepd-312.firebasestorage.app",
# messagingSenderId: "776568680756",
# appId: "1:776568680756:web:3fcd496fd989cb21a1f561"
